* {
  margin: 0%;
  padding: 0%;
}
html {
  font-family: "laymedium", sans-serif;
}
main {
  background-color: #f9f9f9;
}

@font-face {
  font-family: sfprobold;
  src: url("./font/SFPRODISPLAYBOLD.OTF ");
}

@font-face {
  font-family: blackitalic;
  src: url("./font/SFPRODISPLAYBLACKITALIC.OTF");
}

@font-face {
  font-family: heavyitalic;
  src: url("./font/SFPRODISPLAYHEAVYITALIC.OTF");
}

@font-face {
  font-family: lightitalic;
  src: url("./font/SFPRODISPLAYLIGHTITALIC.OTF");
}

@font-face {
  font-family: laymedium;
  src: url("./font/SFPRODISPLAYMEDIUM.OTF");
}

@font-face {
  font-family: layregular;
  src: url("./font/SFPRODISPLAYREGULAR.OTF");
}

@font-face {
  font-family: laysemibold;
  src: url("./font/SFPRODISPLAYSEMIBOLDITALIC.OTF");
}

@font-face {
  font-family: laythinitalic;
  src: url("./font/SFPRODISPLAYTHINITALIC.OTF");
}

@font-face {
  font-family: layultraitalic;
  src: url("./font/SFPRODISPLAYULTRALIGHTITALIC.OTF");
}

.main-header {
  display: flex;
  justify-content: space-around;
  text-align: center;
  flex-wrap: wrap;
  padding: 2rem 0.5rem;
}
.grocery {
  display: flex;
}
.location {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.location form select {
  background-color: #fff;
  border: none;
}
.search-bar form {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.input-search {
  font-size: 1rem;
  width: 42rem;
  height: 3rem;
  border: none;
  background-color: #f6f6fd;
}
.search-img {
  width: 3rem;
}

.account {
  display: flex;
  justify-content: space-between;
}
.account {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}
.my-account {
  display: flex;
}
.my-account form select {
  border: none;
  background-color: #fff;
}
.first-section,
.store-location {
  font-size: 0.7rem;
  display: flex;
  align-items: center;
  padding: 1rem;
}
.first-section {
  padding: 0 6rem;
  justify-content: space-around;
}
.store-address {
  color: grey;
}
.full-address {
  font-size: 0.9rem;
}
.more {
  padding-left: 0rem;
  color: #3bd28c;
}
.anurag {
  display: flex;
}
.first-section form {
  display: flex;
  gap: 4rem;
}
.first-section form select {
  border: none;
  background-color: #fff;
}

.secont-section {
  display: flex;
  gap: 5rem;
  position: relative;
}
.heading,
.secont-section {
  background-color: #e9faf3;
  overflow: hidden;
}
.heading {
  padding: 3%;
  width: 30rem;
  padding-left: 15rem;
  font-size: 4.5rem;
  justify-content: center;
}
.heading p span {
  color: #3bd28c;
}
.gobu {
  position: absolute;
  width: 19.1rem;
  left: 30%;
  bottom: 0%;
}
.gajert {
  z-index: 1;
  position: absolute;
  right: 0;
  top: 11rem;
  margin: -10rem;
}
.conten-text {
  font-size: 1rem;
  color: grey;
}
.button-orer {
  font-size: 1rem;
  padding: 1rem 2rem;
  background-color: #ffbb44;
  color: #fff;
  border: none;
  border-radius: 27px;
  cursor: pointer;
}
.button-orer:hover,
.button-orer:active {
  background-color: red;
}

.left-arrow {
  position: absolute;
  width: 3rem;

  display: flex;
  top: 35%;
  left: 0%;
}
.right-arrow {
  position: absolute;
  width: 3rem;
  top: 35%;
  right: 0%;
}
.third-secotion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  padding: 3rem;
}
.third-secotion h1 {
  font-size: 3rem;
}

.items {
  display: flex;
  justify-content: space-between;
}

.vegtebles:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0px 10px 30px #00000008;
}

.vegtebles {
  padding: 2rem 3.5rem;
  box-shadow: 0px 10px 30px #00000008;
  border-radius: 10px;
  cursor: pointer;
}

.text {
  display: flex;
  justify-content: space-between;
  font-size: 3rem;
  position: relative;
  justify-content: space-between;
}
.fourth-section {
  padding: 3rem;
}
.fourth-section h1 {
  padding: 1rem;
}
.view:hover {
  background-color: red;
}
.view {
  background-color: #3bd28c;
  color: #fff;
  justify-content: space-around;
  text-align: center;
  padding: 0.5rem 1.5rem;
  border-radius: 27px;
  font-size: 1rem;
  /* margin-left: 80rem; */
  cursor: pointer;
  border: none;
}

.off {
  width: 4rem;
  font-size: 1rem;
  background-color: #e1fff1;
  color: #3bd28c;
  font-size: 0.8rem;
  border-radius: 27px;
  padding: 0.5rem;
}
.add-card:hover {
  background-color: red;
  cursor: pointer;
}
.add-card {
  background-color: #ffbb44;
  color: #fff;
  padding: 0.2rem 0.5rem;
  border-radius: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  gap: 0.5rem;
}

.img-2 {
  width: 13.5rem;
}
.prodects {
  display: flex;
  justify-content: space-between;
}

.prodects:active {
  transform: translateY(-1.2rem);
  box-shadow: 0px 10px 30px #00000008;
}
.prodects-1:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0px 10px 30px #00000008;
}
.prodects-1 {
  box-shadow: 0px 10px 30px #00000008;

  padding: 2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
}
.fruit-text {
  color: #3bd28c;
}
.l-arrow,
.r-arrow {
  position: absolute;
}

.l-arrow {
  right: 0;
}

.r-arrow {
  left: 0;
}

.fifth-section {
  margin: 3rem;
  background-color: #3bd28c;
  display: flex;
  justify-content: right;
  border-radius: 20px;
}
.fifth-section:hover {
  opacity: 0.9;
}
.fifth-text {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  align-content: center;
  width: 40%;
}
.p1 {
  font-size: 2rem;
  color: #fff;
  font-style: italic;
}
.p2 {
  color: #fff;
  font-size: 5rem;
}

.p3 {
  color: #fff;
  font-size: 5rem;
}
.logo {
  /* margin: 3rem; */
  padding: 3rem;
}
.logos {
  padding: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0.5px 0.5px 0.5px #e1f1eb;
}
/* .logos img {
  filter: brightness(0);
  opacity: 20%;
} */

.stories {
  padding: 2rem;
}
.stories-1 {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.meal {
  font-size: 1rem;
  width: min-content;
  box-shadow: 0px 10px 30px #00000008;

  padding-bottom: 1rem;
  border-radius: 20px;
  width: 32rem;
}
.meal-img {
  width: 100%;
  cursor: pointer;
}
.meal-img:hover {
  opacity: 0.7;
}
.meal-text {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 1rem;
  align-content: space-around;
}
.meal-rext {
  color: #555555;
}
.date {
  color: #bbbbbb;
}

.read {
  padding-top: 1rem;
  color: #3bd28c;
}
.how-dose {
  padding: 2rem;
}
.how-dose h2 {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  padding: 4rem;
}
.how-dose h2 p {
  color: #3bd28c;
}

.dose-about {
  display: flex;
  justify-content: space-around;
  text-align: center;
  gap: 7rem;
}
.dose {
  width: 22%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.dose-text {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #888888;
}

footer {
  margin-top: 3rem;
  padding: 3rem;
  display: flex;
  flex-direction: column;
}
.footer-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer-img {
  padding-bottom: 1rem;
}
.contact {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1rem;
  justify-items: center;
}
.contact p {
  display: flex;
  flex-direction: row;
  align-content: center;
  gap: 01rem;
  color: #888888;
  padding-left: 2rem;
}
.top {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
}
.top p {
  color: #888888;
}
.play-store img {
  width: 35%;
}

.copy {
  color: #888888;
  text-align: center;
}
